/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styles for header */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav ul li {
	margin-right: 100px;
}


nav li {
	margin-right: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

.logout {
	margin-left: auto;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

/* Styles for main */
main {
	padding: 20px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.section {
	flex: 1;
	margin-right: 20px;
}

.profile-section {
	flex-direction: column;
}

.profile-section p {
	margin-top: 10px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	line-height: 1.5;
}
